########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

########################
# sails
########################
.sails
.waterline
.rigging
.tmp

########################
# misc / editors
########################
*~
*#
.DS_STORE
.DS_Store
.netbeans
nbproject
.idea
documentation_examples

########################
# local config
########################
config/local.js
config_info
